#calculatorSurface {
	display: grid;
	width: 500px;
	height: 600px;
	grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr;
	/*justify-items: stretch;*/
	border: 30px outset PaleGreen;
	border-radius: 30px;
	margin: 25px auto; /* set all 4 margins to 25px and use auto to center it horizontally */
	background-color: PaleGreen;
}

/*
#reset {
	display: block;
	margin: 0 auto;
	width: 250px;
	height: 60px;
}
*/
h2 {
	padding-top: 60px;
	text-align: center;
}

.screen {
	grid-column: 6/1;
	border: 10px inset PaleGreen;
	border-radius: 5px;
	font: 36pt bold;
	padding-top: 10px;
	overflow: hidden;
	background-color: WhiteSmoke;
	
}
/*
#blank {
	grid-column: 2/4;
}
*/
.number {
	background-color: HoneyDew;
	grid-column: span 2;
}

#clear {
	background-color: #ff9fa8;
}

#clear:hover {
	background-color: red; /* Green */
}

#backspace {
	grid-column: span 2;
}

#decimal {
	grid-column: span 2;
}

.operator:hover {
background-color: white;
}

#backspace:hover {
background-color: white;
}

#decimal:hover {
background-color: white;
}

button {
	font: 24pt bold;
	box-shadow: 8px grey;
	border: 10px outset;
	border-radius: 20px;	
}

button:hover {
	background-color: LightGreen; /* Green */
}

button:active {  
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button:focus {outline:none;}